html,
body {
  font-family: "Helvetica", sans-serif;
  color: #333;
}
header {
  margin: 10px 0 30px;
  text-align: center;
}
header h1 {
  font-size: 35px;
  margin: 0;
}
header h2 {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}
.game-options {
  margin: 15px 0 0;
  text-align: center;
}
.board .board-row {
  text-align: center;
  font-size: 0;
}
.board .board-row.first .board-cell.first {
  border-top-left-radius: 15px;
}
.board .board-row.first .board-cell.last {
  border-top-right-radius: 15px;
}
.board .board-row.last .board-cell.first {
  border-bottom-left-radius: 15px;
}
.board .board-row.last .board-cell.last {
  border-bottom-right-radius: 15px;
}
.board .board-row .board-cell {
  display: inline-block;
  background: url(../img/board-cell-empty.jpg) top left no-repeat;
  background-size: 100% 100%;
  width: 50px;
  height: 50px;
}
.board .board-row .board-cell.has-mole {
  background-image: url(../img/board-cell-filled.jpg);
}
.board .board-row .board-cell.mole-hit {
  background-image: url(../img/board-cell-hit.jpg);
}
